@CHARSET "utf-8";

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/* icon wrappers																	*/
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
div#adobe-wrapper{
	left: 5px;
	bottom: 1px;
	position: absolute;
}

div#icon-wrapper{
	right: 5px;
	bottom: 1px;
	position: absolute;
}

div#icon-wrapper ul{
	list-style: none;	
}


.item img{
	visibility: hidden;
}

/* .tooltip:hover:after{ */
/*     background: #FFF; */
/*     border-radius: 5px; */
/*     color: #000; */
/*     content: attr(text); */
/*     top: 40px; */
/*     padding: 5px; */
/*     position: absolute; */
/*     z-index: 98; */
/*     font-size: 60%; */
/* } */

/* .tooltip:hover:before{ */
/*     border: solid; */
/*     border-color: #FFF transparent; */
/*     border-width: 0 6px 6px 6px; */
/*     top: 40px; */
/*     content: ""; */
/*     position: absolute; */
/*     z-index: 99; */
/* } */

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/* resume																			*/
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
div#resume_wrapper {
	opacity: 0;
	width: 75%;
	height: 600px;
	margin-left: 12.5%;
	margin-top: -300px;
	top: 50%;
	position: absolute;
	color:#FFF;
	text-align: right;
	border: 5px solid #444;
	background-color: #444;
	z-index: -1;
	
	/*inner shadow*/
	-moz-box-shadow:    3 3 3 10px #000;
   	-webkit-box-shadow: 3 3 3 10px #000;
   	box-shadow:         3 3 3 10px #000;
	
	/*transition*/
	transition: all 0.5s linear;
}

object#resume_object{
	height: 96.5%;
	width: 100%;
}

span.resume_close_lbl{
	width: 80%;
	font-size: 65%;
	padding-right: 15px;
	z-index:2;
	position: relative;
	bottom: 0;
	vertical-align: middle;
	line-height: 1em;
}

a#resume_link_close {
	color: #cccccc;
	text-decoration: none;
	font-weight: bolder;
	padding-right: 0.5%;
	vertical-align: middle;
	margin-left: -51px;
	position: absolute;
	bottom: 2px;
	width: 49px;
	z-index: 3;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/* media																			*/
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
@media only screen and (max-device-width: 480px) {

}