@CHARSET "utf-8";

article {
	height: 95%;
}

a{
	text-decoration: none;
}

a:LINK{
	color: #cccccc;
}

a:HOVER{
/* 	color: #3198dd; */
	color: #ffffff;
}

div#footer{
	bottom: 1%;
	width: 100%;
	font-family: 'Raleway', cursive;
	color: #cccccc;
	font-size: 80%;
	text-align: center;
	position: absolute;
}

div#box{
	height: 200px;
	width: 400px;
	top:50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;
	position: absolute;

	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6a6b6b), to(#424242));
    background-image: -moz-linear-gradient(top,#6a6a6a,#424242);
}

div#name{
	font-family: 'Great Vibes', cursive;
	font-size: 300%;
	color: #eeeeee;
	top: 5%;
	width: 100%;
	position: absolute;
	z-index: 2;
}

div#description{
	font-family: 'Raleway', cursive;
	font-size: 80%;
	color: #cccccc;
	top: 52%;
	width: 99%;
	position: absolute;
	text-align: right;
	z-index: 2;
}

div#ribbon{
	height: 50px;
	width: 420px;
	margin-left: -10px;
	top: 25%;
	background-color: #3198dd;
	position: absolute;
	z-index: 1;
	
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#33acfc), to(#3198dd));
    background-image: -moz-linear-gradient(top,#33acfc,#3198dd);
    text-shadow: #2187c8 0 -1px 1px;
}

div#triangle-l{
	border-color: transparent #2083c2 transparent transparent;
    border-style:solid;
    border-width:10px;
    height:0px;
    width:0px;
    top: 45%;
    position: absolute;
    left: -20px;
    z-index: 0;
}

div#triangle-r{
	border-color: transparent transparent transparent #2083c2;
    border-style:solid;
    border-width:10px;
    height:0px;
    width:0px;
    top: 45%;
    position: absolute;
    left: 400px;
    z-index: 0;
}

div#adobe-wrapper{
	left: 5px;
	bottom: 1px;
	position: absolute;
}

div#icon-wrapper{
	right: 5px;
	bottom: 1px;
	position: absolute;
}

div#icon-wrapper ul{
	list-style: none;	
}

a{
	text-decoration: none;
}

ul li {
	float: left;	
}

.item img{
	visibility: hidden;
}