div.learn-more {
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
}

p.learn-more {
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Lato";
    font-weight: bolder;
    margin: 15px;
}

div.learn-more i.glyphicon-chevron-down {
    font-size: 10px;
}