div.header {
    height: 300px;
    text-align: center;
}

div.header .title {
    font-family: "Lato";
    font-size: 50px;
    font-weight: bolder;
    margin: 50px auto 10px;
}

div.header .sub-title {
    font-family: "Lato";
    font-size: 20px;
    margin-bottom: 10px;
}

div.header nav.navbar {
    display: inline-block;
    text-align: center;
}