$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

#layout {
  height: 100%;
  width: 100%;

  background: #43c6ac; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgba(162, 222, 208, 0.25), #f5f7fa);
  background: linear-gradient(to bottom, rgba(162, 222, 208, 0.25), #f5f7fa);

  .navbar {
    @extend .row;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 5rem;
    margin: 0;
    padding: 0 1rem;
    border: 0;

    .nav-links {
      @include make-sm-column-offset(8);
      @extend .col-sm-4;

      .nav-link {
          @extend .col-xs-2;
          padding: 1rem 0;
          font-size: 1.25rem !important;
          display: inline;
          text-align: center;
          border-style: solid;
          border-width: 3px 0 0 0;
          border-color: transparent;

          &.active {
            border-color: #00ade6;
            border-image: -moz-linear-gradient(top,#00ade6 0,#05e3d5 100%);
            border-image: -webkit-linear-gradient(top,#00ade6,#05e3d5);
            border-image: -o-linear-gradient(top,#00ade6 0,#05e3d5 100%);
            border-image: -ms-linear-gradient(top,#00ade6 0,#05e3d5 100%);
            border-image: linear-gradient(180deg,#00ade6 0,#05e3d5);
            border-image-slice: 2;
          }
      }
    }
  }

  .container.wrapper {
    width: 100%;
    height: calc(100% - 9rem);

    .content {
      background-color: rgba(255, 255, 255, 0.80);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      min-width: 500px;
      min-height: 500px;
      height: 75vh;
      width: 60%;
      margin: 5rem auto;
      padding: 1.5rem;
    }
  }

  .footer {
    @extend .col-md-12;
  }
}
