body {
    font-family: 'Raleway', 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif' !important;
}

.center.text {
    text-align: center;
}

a,
a:link,
a:active,
a:hover,
a:visited {
    text-decoration: none;
    background-color: transparent !important;
    font-weight: normal !important;
}

a.nav-link,
a.nav-link:link,
a.nav-link:active,
a.nav-link:hover,
a.nav-link:visited {
    text-decoration: none;
    font-size: 14px !important;
    font-weight: 700 !important;
    color: #354b60;
    text-transform: uppercase;
    background-color: transparent !important;
}

.skills a.nav-link,
.skills a.nav-link:link,
.skills a.nav-link:active,
.skills a.nav-link:hover,
.skills a.nav-link:visited {
    color: #ffffff;
}

/*
.about a.nav-link,
.about a.nav-link:link,
.about a.nav-link:active,
.about a.nav-link:hover,
.about a.nav-link:visited {
    color: #ffffff;
}
*/

a.nav-link:hover {
    text-decoration: none;
    transition: color 1s ease;
    color: #e74c3c !important;
}