h2 {
    margin: 3em 0 0 0;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
}
/* -------------------------------------
 * timeline
 * ------------------------------------- */

#timeline {
    list-style: none;
    margin: 30px 0 20px 120px;
    padding-left: 30px;
    border-left: 4px solid #ffffff;
}

#timeline li {
    margin: 10px 0;
    position: relative;
}

#timeline p {
    margin: 0 0 15px;
}

#timeline label {
    color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
    font-size: 0.75em;
}

.date {
    margin-top: -10px;
    top: 50%;
    left: -158px;
    font-size: 0.7em;
    font-weight: 500;
    line-height: 20px;
    position: absolute;
    color: rgba(189, 195, 199, 0.7);
}

.circle {
    margin-top: -10px;
    top: 50%;
    left: -40px;
    width: 15px;
    height: 15px;
    background: #000000;
    border: 4px solid #ffffff;
    border-radius: 50%;
    display: block;
    position: absolute;
}

.content {
    max-height: 20px;
    padding: 45px 20px 0;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5em;
    position: relative;
}

.content:before,
.content:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%;
}

.content:before {
    border-right-color: inherit;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
}

.content:after {
    border-right-color: transparent;
    border-width: 17px;
    top: 50%;
    margin-top: -17px;
}

.content p {
    max-height: 0;
    color: transparent;
    /*text-align: justify;*/
    
    word-break: break-word;
    hyphens: auto;
    overflow: hidden;
}

label {
    font-size: 1.3em;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    top: 20px;
    transition: transform 0.2s linear;
}

.radio {
    display: none;
}

.radio:checked + .relative label {
    cursor: auto;
    transform: translateX(42px);
}

.radio:checked + .relative .circle {
    background: #f98262;
}

.radio:checked ~ .content {
    max-height: 180px;
    border-color: #ffffff;
    background-color: transparent;
    margin-right: 50px;
    transform: translateX(20px);
    transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}

.radio:checked ~ .content p {
    max-height: 200px;
    color: #dddddd;
    font-size: 0.60rem;
    line-height: 1rem;
    transition: color 0.3s linear 0.3s;
}
.radio:checked ~ .content:after {
    border-right-color: #34495E;
}

/* -------------------------------------
 * mobile phones (vertical version only)
 * ------------------------------------- */

@media screen and (max-width: 480px) {
    #timeline label {
        font-size: 0.8em !important;
        max-width: 100px;
    }
    .radio:checked ~ .content p {
        margin-top: -15px;
        color: #dddddd;
        transition: all 0.3s linear 0.3s;
        font-size: 0.65em;
    }
}