@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed|Raleway');

body {
  font-family: 'Raleway', 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif' !important;
}

.center.text {
  text-align: center;
}

a {
  text-decoration: none;
  background-color: transparent !important;
  font-weight: normal !important;

  &:active,
  &:hover,
  &:link,
  &:visited {
    text-decoration: none;
    background-color: transparent !important;
    font-weight: normal !important;
  }

  &.nav-link {
    text-decoration: none;
    font-family: 'Roboto Condensed';
    font-size: 1.5rem;
    font-weight: 700 !important;
    color: #354b60;
    text-transform: uppercase;
    background-color: transparent !important;

    &:active,
    &:hover,
    &:link,
    &:visited {
      text-decoration: none;
      font-family: 'Roboto Condensed';
      font-size: 1.5rem !important;
      font-weight: 700 !important;
      color: #354b60;
      text-transform: uppercase;
      background-color: transparent !important;
    }
  }
}

.skills a.nav-link {
  color: #ffffff;

  &:active,
  &:hover,
  &:link,
  &:visited {
    color: #ffffff;
  }
}

a.nav-link:hover {
  text-decoration: none;
  transition: color 1s ease;
  color: #e74c3c !important;
}
