$color-facebook: #3b5998;
$color-linkedin: #0976b4;
$color-github: #666666;
$color-stackoverflow-bg: #eeeeee;
$color-stackoverflow: #fe7a15;
$color-instagram-bg: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
$color-twitter: #55acee;
$color-google-plus: #dd4b39;
$color-pinterest:#bd081c
