<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{site.name}}</title>
	
	 {% include meta.html %}
	 {% include css.html %}
	 {% include js.html %}
	
	<!--[if IE]>
     	 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    	</script>
    <![endif]-->
	
	<!-- ICON -->
	<link rel="shortcut icon" href="./img/favicon.ico" />
	
	<!-- ANALYTICS -->
	<script type="text/javascript">
		 var _gaq = _gaq || [];
		 _gaq.push(['_setAccount', 'UA-32196137-1']);
		 _gaq.push(['_trackPageview']);
		
		 (function() {
		   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		 })();
	</script>
</head>

<body>
	<div id="fade">
		{% include nav.html %}
		
		<div id="main-content">
			<div id="box">
<!-- 				<div id="name">&nbsp;Joey Lai</div> -->
				<div id="name">
					<img src="/img/jlai-consulting-logo.png">
				</div>
				<div id="ribbon"></div>
				<div id="triangle-l"></div>
				<div id="triangle-r"></div>
				{{ content }}
			</div>
			
			<div id="modal">
				<iframe name="iModal"></iframe>
				<span class="modal_close_lbl">(ESC) CLOSE</span><a id="modal_link_close" href="#modal_close">X</a> 
			</div>
			{% include footer.html %}
		</div> 
	</div> <!-- #fade -->
</body>

</html>