@import url('https://fonts.googleapis.com/css?family=Oxygen|Open+Sans|Roboto+Condensed|Raleway|Lato|Source+Sans+Pro|Cormorant+Garamond|Questrial');
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "styles/variables/colors.scss";

body,
html,
#root {
    height: 100%;
    width: 100%;

    font-family: 'Roboto Condesed', 'Avenir', 'Open Sans', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  background-color: transparent !important;
  font-weight: normal !important;

  &:active,
  &:hover,
  &:link,
  &:visited {
    text-decoration: none;
    background-color: transparent !important;
    font-weight: normal !important;
  }

  &.nav-link {
    text-decoration: none;
    font-family: 'Roboto Condensed';
    font-size: 1.5rem;
    font-weight: 700 !important;
    color: #354b60;
    text-transform: uppercase;
    background-color: transparent !important;

    &:active,
    &:hover,
    &:link,
    &:visited {
      text-decoration: none;
      font-family: 'Roboto Condensed';
      font-size: 1.5rem !important;
      font-weight: 700 !important;
      color: #354b60;
      text-transform: uppercase;
      background-color: transparent !important;
    }
  }
}

.center.text {
  text-align: center;
}

.skills a.nav-link {
  color: #ffffff;

  &:active,
  &:hover,
  &:link,
  &:visited {
    color: #ffffff;
  }
}

a.nav-link:hover {
  text-decoration: none;
  transition: color 1s ease;
  color: #e74c3c !important;
}
